$color-primary: #dc2b37;

.gpm-button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 140px;
  border-radius: 25px;
  background-color: $color-primary;
  margin: 40px;
  color: white;
  font-family: "Roboto", Tahoma, Verdana, sans-serif;
  font-weight: 700;
  border-style: none;
  font-size: 18px;
  box-shadow: 10px 10px 10px #00000025;
}

.gpm-link-signupopup {
  display: flex;
  text-decoration: none;
}
