$color-primary: #d15159;
$color-background: #6f6f6f;

.gpm-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: $color-background;
}

.gpm-logo {
  display: flex;
  align-self: center;
  height: 120px;
  width: 200px;
  padding: 40px;
}

@media screen and (max-width: 800px) {
  .gpm-header {
    height: 350px;
  }
}
