$color-primary: #dc2b37;
$color-secondary: #ffe2d4;
$color-background: #6f6f6f;

.gpm-comment {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.gpm-comment-content {
  display: flex;
  height: 40%;
  border-radius: 25px;
  margin: 30px;
  width: 300px;
}

.gpm-button-comment {
  height: 20px;
}

.gpm-button-style {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  background-color: $color-primary;
  color: white;
  font-family: "Roboto", Tahoma, Verdana, sans-serif;
  border-style: none;
  font-size: 18px;
  box-shadow: 10px 10px 10px #00000025;
}
