$color-primary: #dc2b37;
$color-background: #6f6f6f;

.gpm-log-header {
  display: flex;
}

.gpm-text-header {
  background-color: $color-background;
  display: flex;
  height: 100px;
}

.gpm-connexion {
  margin: 40px;
  color: white;
  font-family: "Roboto", Tahoma, Verdana, sans-serif;
  font-weight: bold;
}
