$color-primary: #d15159;
$color-secondary: #ffe2d4;
$color-background: #6f6f6f;

.gpm-post-content {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 480px;
  height: 40px;
  border-radius: 25px;
}

.gpm-icons-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gpm-icon {
  width: 35px;
  height: 35px;
  padding: 20px;
}

.gpm-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.gpm-button-post {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gpm-text-photo {
  color: $color-background;
  font-size: 24px;
}

.gpm-text-post {
  color: $color-background;
  font-size: 24px;
}

.gpm-posted {
  display: flex;
  width: 80%;
  height: 400px;
  background-color: $color-secondary;
  border-radius: 25px;
  margin-bottom: 50px;
}
