$color-primary: #d15159;
$color-secondary: #ffe2d4;
$color-background: #6f6f6f;

.gpm-to-post {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: $color-secondary;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.gpm-header-to-post {
  display: flex;
  padding: 40px;
  flex-direction: column;
  width: 80%;
}

.gpm-content-to-post {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 90%;
  height: 40%;
  border-radius: 25px;
}

.gpm-icons {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 80%;
}

.gpm-icons-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.gpm-icon {
  width: 50px;
  height: 50px;
  padding: 20px;
}

.gpm-text-photo {
  color: $color-background;
  font-size: 24px;
  width: 100%;
  align-self: center;
}

.gpm-button-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.gpm-text-post {
  color: $color-background;
  font-size: 24px;
  width: 100%;
}

.gpm-posted {
  display: flex;
  width: 80%;
  height: 400px;
  background-color: $color-secondary;
  border-radius: 25px;
  margin-bottom: 50px;
  flex-direction: column;
}

.gpm-posted-header {
  display: flex;
}

.gpm-posted-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gpm-posted-footer {
  display: flex;
}

.gpm-posted-buttons {
  display: flex;
}
